@charset "UTF-8";

@media screen and (min-width: 768px) {



    img{
        width: 20vw;
        transition: width .3s, height .3s, padding .3s;
    transition-timing-function: ease;

    }

    main {
        padding: 10px;
        width: 75vw;
        height: 540px;
        
        transition: width .3s, height .3s, padding .3s;
    transition-timing-function: ease;
    }

    main h1{
        padding-top: 10px;
    }

    form.campos div.inptt{
        margin: 10px;
        height: 55px;
        z-index: 1;
        background-color: transparent;
    }

    input[type="submit"]{
        margin-top: 28px;
    }
}